<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <listener>
        <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>HotelDataController</servlet-name>
        <servlet-class>hotel.web.controller.HotelDataController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HotelDataController</servlet-name>
        <url-pattern>/hdc</url-pattern>
    </servlet-mapping>
    <listener>
        <listener-class>
            hotel.web.listener.HotelDatabaseContextListener
        </listener-class>
    </listener>
    <listener>
        <listener-class>
            hotel.web.listener.HotelSessionListener
        </listener-class>
    </listener>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
